      
  .title{
    font-family: cursive;
    font-size: 40px;
    text-align:center;
    color:black;
    }


    .title{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        font-size: 40px;
        text-align:center;
        color:black;
        }

    .foto
    {   
        width: 100px; height: 100px;
    }
    